<ul *ngIf="note" id="note-{{ note._id }}">
  <li class="note-short-title">{{ note.noteShortTitle }}</li>
  <ng-container *ngIf="note.secondaryNotes">
    <ul
      class="secondary-note"
      *ngFor="let secondaryNote of getSecondaryNotes()"
      id="eng-{{ secondaryNote.id }}"
    >
      <li (click)="this.notePhraseClick(secondaryNote)" class="note-phrase">
        {{ getNotePhrase(secondaryNote.notePhrase) }}
      </li>
      <ul
        class="note-refs"
        *ngIf="secondaryNote.noteRefs"
        [ngClass]="{ highlight: secondaryNote.highlight }"
      >
        <li *ngFor="let noteRef of getNoteRefs(secondaryNote)">
          <span>{{ convertNoteCategory(noteRef) }}</span>
          <span [innerHTML]="noteRef.text"></span>
        </li>
      </ul>
    </ul>
  </ng-container>
</ul>
