<div
  class="navigation-parent"
  [ngClass]="{
    'navigation-hide': !this.saveStateService.navigationPaneToggle,
    'navigation-mobile-hide': !this.tempSettingsService
      .navigationMobilePaneToggle,
    'navigation-mobile-show': this.tempSettingsService
      .navigationMobilePaneToggle
  }"
  [ngStyle]="{ 'grid-template-rows': getNavGrid() }"
>
  <div>
    <input
      class="form-control"
      type="text"
      placeholder="Search"
      aria-label="Search"
      id="addressBar"
      (keyup)="addressBarKeyUp($event)"
    />
  </div>
  <ul *ngIf="tempSettingsService.editMode">
    <li></li>
  </ul>
  <ul *ngIf="!tempSettingsService.editMode">
    <li>Navigation</li>
  </ul>
  <li>Navigation</li>
</div>
