map-shell-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@import '../../styles/mediaQueries.scss';
$chapterGridMargins: 32px;

@mixin oithChapterParent(
  $mediaQuery,
  $gridTemplateColumn,
  $oithChapterContainerWidth
) {
  @media #{$mediaQuery} {
    grid-template-columns: $gridTemplateColumn;
    #bodyBlock {
      // margin: auto;
      justify-self: center;

      width: $oithChapterContainerWidth;
    }
  }
}

.chapter-grid {
  display: grid;

  // @media screen and (min-width: 320px), (orientation: landscape) {
  //   grid-template-columns: 16px $chapterGridMargins auto $chapterGridMargins 16px;
  //   width: auto;
  // }
  @include oithChapterParent(
    $smallScreen,
    16px $chapterGridMargins auto $chapterGridMargins 16px,
    auto
  );
  @include oithChapterParent(
    $largeScreen,
    16px $chapterGridMargins auto $chapterGridMargins 16px,
    80%
  );

  map-shell-row {
    display: grid;
    grid-column-gap: 5px;

    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr !important;
    }
  }
  .chapter-nav-btn {
    width: 32px;
    i {
      fill: gainsboro;
      position: fixed;

      // @media #{$smallScreen} {
      //   top: 30%;
      // }
      // @media #{$mediumScreen} {
      // }
      top: 50%;
      // width: 32px;
    }
  }
}

.insertion {
  font-weight: 700;
}
.deletion {
  font-style: italic;
  color: darkgray;
}
// map-shell-row {
//   div:first-child {
//     border-bottom-style: solid;
//     border-bottom-width: 1px;
//     border-bottom-left-radius: 1px;
//   }
// }
map-shell-row {
  map-shell-column {
    div {
      display: flex;
      margin-top: 2.5px;
      margin-bottom: 2.5px;
      justify-content: center;
      .test-border {
        width: 20%;
        border-bottom-style: solid;
        border-bottom-width: 1.5px;
        border-bottom-left-radius: 1px;
      }
    }
  }
  map-shell-column:last-child {
    div {
      .test-border {
        width: 90%;
      }
    }
  }
}

map-shell map-shell-row:last-of-type map-shell-column:last-of-type div {
  display: none;
}
