<note
  class="secondary-note"
  id="{{ note.id }}"
  [ngClass]="{ highlight: highlight(note) }"
>
  <app-note-phrase
    [note]="note"
    [verseNotes]="this.getVerseNotes()"
  ></app-note-phrase>
  <!-- <li (click)="this.notePhraseClick(note)" class="note-phrase">
        {{ getNotePhrase(note.notePhrase) }}
      </li> -->
  <ul class="note-refs" *ngIf="note.noteRefs">
    <ng-container *ngFor="let noteRef of getNoteRefs(note)">
      <li [class]="getRefClass(noteRef)">
        <span class="note-category">{{ convertNoteCategory(noteRef) }} </span>
        <span [innerHTML]="noteRef.safeHtml"></span>
      </li>
      <!-- <li>
        <textarea *ngIf="edit" name="note-ref" id="">{{
          noteRef.text
        }}</textarea>
      </li> -->
    </ng-container>
  </ul>

  <textarea
    *ngIf="edit && tempSettingsService.editMode"
    class="offsets"
    name="note-ref"
    id=""
    rows="1"
    [(ngModel)]="note.offsets"
    (input)="offsetsInput($event, note)"
  ></textarea>
  <span class="edit-buttons" *ngIf="tempSettingsService.editMode"
    ><button class=" btn btn-outline-primary" (click)="edit = !edit">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
          d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"
        />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg></button
  ></span>
</note>
