<div class="modal-header">
  <h1 class="modal-title" id="modal-basic-title">Settings</h1>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.close('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modak-body">
  Key
  <p>
    ǝ (as a in about, e in taken, i in pencil, o in lemon, u in circus or nut)
  </p>

  <p>
    ā (long a as in able, bake, way)
  </p>
  <p>
    ă (as in ask, pat, map)
  </p>
  <p>
    ä (as in alms, father, call)
  </p>
  <p>
    är (as in army)
  </p>
  <p>
    äw (as in law)
  </p>
  <p></p>
  <p>
    ē (long e as in eat, meet, me)
  </p>
  <p>
    ēr (as in ear, here)
  </p>
  <p>
    ĕ (as in ebb, met, second)
  </p>
  <p>
    ĕr (as in air, fare, error)
  </p>
  <p>
    er (as in permit)
  </p>
  <p></p>
  <p>
    ī (long i as in idle, fine, deny)
  </p>
  <p>
    ing (as in ring, king)
  </p>
  <p>
    ĭ (short i as in it, him, mirror)
  </p>
  <p></p>
  <p>
    j (as in judge, bridge)
  </p>
  <p></p>
  <p>
    ō (long o as in over, bone, know)
  </p>
  <p>
    ōr (as in for)
  </p>
  <p>
    ōi (as in boy)
  </p>
  <p>
    o (as in not or pot)
  </p>
  <p>
    ou (as in count, about, cow)
  </p>
  <p>
    oor (as in poor)
  </p>
  <p></p>
  <p>
    ū (as in rule, boot, two)
  </p>
  <p>
    yū (as in Yule, urim)
  </p>
  <p>
    uu (as in rough)
  </p>
  <p>
    uo (as in put, bull)
  </p>
  <p></p>
  <p>
    ch (usually as in chill, chimney)
  </p>
  <p>
    th (as in them, sometimes thick)
  </p>
  <p>
    zh (as in measure)
  </p>
  <p>
    hw (as in while)
  </p>
  <p>
    sh (as in she)
  </p>
</div>
