verse {
  // margin-bottom: 7px;
  &.highlight {
    padding: 0 0 6pt 5px;
    border-left: 2.5px solid #f68d2e;
  }
  &.context:not(.highlight) {
    padding: 0 0 6pt 5px;
    border-left: 2.5px solid #2ca1a5;
  }
  display: block;

  &[id*='title_number1'] {
    font-weight: 400 !important;
    font-size: 16px;
  }

  &[id*='title1'],
  &[id*='title_number1'],
  &[id*='study_summary1'] {
    text-align: center;
    display: block;
  }

  &[id*='study_summary1'] {
    margin-bottom: 6pt;
  }
}
:host-context(.paragraph-mode) verse {
  display: inline;
  margin-right: 5px;
  &[id*='title1'],
  &[id*='title_number1'],
  &[id*='study_summary1'] {
    text-align: center;
    display: block;
  }

  .verse-number {
    vertical-align: super;
  }

  &.highlight {
    padding: 0;
    border-left: none !important;
    background-color: rgba(184, 184, 106, 0.815);
  }
  &.context {
    padding: 0;
    border-left: none !important;
    background-color: #cfe8eb;
  }
}

kjv-container {
  &.kjv-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
  }
}
.format-group-segment {
  display: block;
}
.format-group-part {
  display: block;
}
.format-group-block {
  display: block;
}
.format-group-line {
  display: block;
}
.format-group-para {
  display: inline-block;
  text-indent: 1em;
}
:host-context(.paragraph-mode) {
  .format-group {
    // display: block;
  }
}
:host-context(.paragraph-mode) {
  .para {
    display: inline;
    margin-left: 1em;
    // &::before {
    //   content: '\A';
    //   white-space: pre;
    // }
  }
  .para-gap {
    display: block;
  }
}

:host-context(.poetry-mode) {
  .line {
    margin-left: 1em;
    display: block;
    padding-left: 22px;
    text-indent: -22px;
  }
  .line-gap {
    display: block;
  }
}
:host-context(.block-mode) {
  .block {
    margin-left: 2em;
    font-size: 15.5px;
    display: block;
  }
  .block-gap {
    display: block;
  }
}

.plain {
}

@mixin fakebre {
  &::before,
  &::after {
    content: '\A';
    white-space: pre;
    // display: block;
  }
}
app-format-group.line:nth-child(1) {
  margin-top: -1.5em;
  // line-height: 1;
}
