<kjv-container *ngIf="verse" [ngClass]="{ 'kjv-container': verse.kjvVerse }">
  <kjv-verses *ngIf="verse.kjvVerse">
    <app-verse
      class="kjv-verse"
      *ngFor="let kjvVerse of verse.kjvVerse"
      [verse]="kjvVerse"
    ></app-verse> </kjv-verses
  ><verse
    [id]="getID()"
    class="{{ this.getClassList() }}"
    [attr.offsets]="this.getOffSets()"
    [ngClass]="{ 'kjv-verse': verse.kjvVerse }"
  >
    <ng-container *ngFor="let formatGroup of this.getFormatGroups()">
      <ng-container [ngSwitch]="formatGroup.formatGroupType">
        <app-format-group-segment
          class="format-group-segment"
          *ngSwitchCase="10"
          [verse]="verse"
          [formatGroup]="formatGroup"
          [formatTags]="verse.formatTags"
        ></app-format-group-segment>
        <app-format-group-part
          class="format-group-part"
          *ngSwitchCase="9"
          [verse]="verse"
          [formatGroup]="formatGroup"
          [formatTags]="verse.formatTags"
        ></app-format-group-part>
        <app-format-group
          class="{{
            formatGroup.classList ? formatGroup.classList.join(' ') : ''
          }}"
          *ngSwitchCase="18"
          [verse]="verse"
          [formatGroup]="formatGroup"
          [formatTags]="verse.formatTags"
          >asdf</app-format-group
        >
        <app-format-group
          class="{{
            formatGroup.classList ? formatGroup.classList.join(' ') : ''
          }}"
          *ngSwitchCase="19"
          [verse]="verse"
          [formatGroup]="formatGroup"
          [formatTags]="verse.formatTags"
          >asdf</app-format-group
        >
        <!-- <app-format-group
          class="format-group-block"
          *ngSwitchCase="12"
          [verse]="verse"
          [formatGroup]="formatGroup"
          [formatTags]="verse.formatTags"
          >asdf</app-format-group
        >
        <app-format-group
          class="format-group-line"
          *ngSwitchCase="11"
          [verse]="verse"
          [formatGroup]="formatGroup"
          [formatTags]="verse.formatTags"
          >asdf</app-format-group
        >
        <app-format-group
          class="format-group-para"
          *ngSwitchCase="14"
          [verse]="verse"
          [formatGroup]="formatGroup"
          [formatTags]="verse.formatTags"
          >asdf</app-format-group
        >
        <format-group-gap
          class="format-group-line-gap"
          *ngSwitchCase="15"
        ></format-group-gap>
        <format-group-gap
          class="format-group-para-gap"
          *ngSwitchCase="16"
        ></format-group-gap>
        <format-group-gap
          class="format-group-block-gap"
          *ngSwitchCase="17"
        ></format-group-gap> -->
        <app-format-group
          class="format-group"
          [verse]="verse"
          [formatGroup]="formatGroup"
          [formatTags]="verse.formatTags"
          *ngSwitchDefault
        ></app-format-group>
      </ng-container>
    </ng-container>
  </verse>
</kjv-container>
