f {
  font-size: 16px;
  &.clarity-word {
    font-style: italic;
  }
  &.subordinate {
    display: block;
  }
  &.small-caps {
    font-variant: small-caps;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.dominant {
    display: block;
    line-height: 1;
    font-family: serif !important;
    text-align: center !important;
    padding-right: 20px !important;
    font-size: 48px !important;
  }
  &.oith-ref-double {
    border-bottom: 1px solid grey;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-color: grey;
    &.ref-selected {
      text-decoration: underline;

      // text-decoration-skip-ink: none;
      // text-decoration-color: grey;
      border-bottom: 1px solid #f68d2e;
      text-decoration-color: #f68d2e;
    }
  }
  &.oith-ref-single {
    border-bottom: 1px solid grey;
    &.ref-selected {
      border-bottom: 1px solid #f68d2e;
    }
  }
}

:host-context([id*='title1']) {
  f {
    font-size: 24px;
  }
}
:host-context([id*='study_summary1']) {
  f {
    margin: 0 0 6pt;
    font-style: italic;
  }
}

// :host-context([id*='study_summary1']),
:host-context([id*='title_number1']),
:host-context([id*='title1']) {
  f {
    font-weight: 700 !important;
  }
}

:host-context(.paragraph-mode) {
  .verse-number {
    vertical-align: super;
    font-size: 8pt;
  }
}

:host-context(verse.all) {
  .verse-number {
    color: rgb(68, 114, 196);
  }
}

:host-context(.edit-mode) f {
  // pointer-events: none;
}
:host-context(.paragraph-mode) {
  f.para {
    border-bottom-color: red;
    border-bottom-width: 5px;
    border-bottom-style: solid;
  }
  f.para-gap {
    border-bottom-color: red;
    border-bottom-width: 5px;
    border-bottom-style: solid;
  }
  f.line {
    border-bottom-color: red;
    border-bottom-width: 5px;
    border-bottom-style: solid;
  }
  f.line-gap {
    border-bottom-color: red;
    border-bottom-width: 5px;
    border-bottom-style: solid;
  }
  f.block {
    border-bottom-color: red;
    border-bottom-width: 5px;
    border-bottom-style: solid;
  }
  f.block-gap {
    border-bottom-color: red;
    border-bottom-width: 5px;
    border-bottom-style: solid;
  }
  f.plain {
    border-bottom-color: red;
    border-bottom-width: 5px;
    border-bottom-style: solid;
  }

  // f.f-paragraph {
  //   :host-context(.edit-mode) {
  //     background-color: green !important;
  //   }
  //   &::before {
  //     content: '\A\2003   ';
  //     white-space: pre;
  //   }
  //   // pointer-events: none;
  // }
  // f.block {
  //   background-color: green !important;
  //   &::before {
  //     content: '';
  //     white-space: pre;
  //   }
  //   // pointer-events: none;
  // }
  // f.stanza {
  //   background-color: green !important;
  //   &::before {
  //     content: '\A';
  //     white-space: pre;
  //   }
  //   // pointer-events: none;
  // }
  // f.prose {
  //   background-color: green !important;
  //   &::before {
  //     content: '\A';
  //     white-space: pre;
  //   }
  //   // pointer-events: none;
  // }
  // f.poetry {
  //   background-color: green !important;
  //   &::before {
  //     content: '\A';
  //     white-space: pre;
  //   }
  //   // pointer-events: none;
  // }
  // f.gap {
  //   // background-color: green !important;
  //   &::after {
  //     content: '';
  //     white-space: pre;
  //     display: block;
  //     margin: -16px;
  //   }
  //   // pointer-events: none;
  // }
  // f.line {
  //   // background-color: green !important;
  //   &::before {
  //     content: '\000a\2003';
  //     white-space: pre;
  //   }
  //   &.f-paragraph {
  //     &::before {
  //       content: '\000a' !important;
  //       white-space: pre;
  //     }
  //   }
  //   // pointer-events: none;
  // }
  // f.line.verse-number {
  //   // background-color: green !important;
  //   &::before {
  //     content: '\000a\2003   ' !important;
  //     white-space: pre;
  //   }
  //   &.f-paragraph {
  //     &::before {
  //       content: '\000a\2003  ' !important;
  //       white-space: pre;
  //     }
  //   }
  //   // pointer-events: none;
  // }

  // gap,.block,.stanza,.f-paragraph,.prose,.poetry
}
