<chapter-parent
  class="animated fastest"
  [ngClass]="{
    'notes-off': !this.saveStateService.data.notesPaneToggle,
    fadeIn: fadeInChapter,
    fadeOut: fadeOutChapter
  }"
>
  <!-- (touchend)="scrollObservable.next()" -->
  <div
    (scroll)="scrollObservable.next()"
    class="chapter-grid"
    [ngClass]="{
      'paragraph-mode': this.saveStateService.data.paragraphsVisible,
      'block-mode': this.saveStateService.data.blockVisible,
      'poetry-mode': this.saveStateService.data.poetryVisible,
      'no-select': userSelectOff
    }"
    (swiperight)="
      navButton(chapter && chapter.previousPage ? chapter.previousPage : '')
    "
    (swipeleft)="navButton(chapter && chapter.nextPage ? chapter.nextPage : '')"
    #chapterGrid
  >
    <div style=" user-select: none;"></div>
    <div
      class="left-chapter-nav-btn chapter-nav-btn"
      style=" user-select: none;"
    >
      <a (click)="navButton(chapter.previousPage)" *ngIf="chapter">
        <i
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
          >
            <path d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z" />
            <path fill="none" d="M0 0h24v24H0z" />
          </svg> </i
      ></a>
    </div>
    <div id="bodyBlock">
      <app-body-block
        *ngIf="this.chapterVerses && this.chapterVerses.verses && chapter"
        [chapter]="chapter"
        [verses]="this.chapterVerses.verses"
      ></app-body-block>
      <div
        class="white-space"
        [ngStyle]="{ height: getWhiteSpaceHeight() }"
      ></div>
    </div>
    <div
      class="right-chapter-nav-btn chapter-nav-btn"
      style=" user-select: none;"
      [ngStyle]="{ top: saveStateService.data.notePaneHeight }"
    >
      <a (click)="navButton(chapter.nextPage)" *ngIf="chapter">
        <i>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
          >
            <path d="M5.88 4.12L13.76 12l-7.88 7.88L8 22l10-10L8 2z" />
            <path fill="none" d="M0 0h24v24H0z" />
          </svg> </i
      ></a>
    </div>
    <div style=" user-select: none;"></div>
  </div>
  <!-- (click)="userSelectOff = true" -->
  <verse-notes-resizer
    (touchmove)="dragBuffer.next($event)"
    (dragend)="this.verseNoteDrop()"
    (drag)="dragBuffer.next($event)"
    [ngStyle]="{ bottom: tempSettingsService.notePaneHeight }"
  ></verse-notes-resizer>
  <div
    id="notes"
    [ngClass]="{ 'no-select': userSelectOff }"
    *ngIf="this.saveStateService.data.notesPaneToggle"
    [ngStyle]="{ height: tempSettingsService.notePaneHeight }"
  >
    <div class="notes-top"></div>
    <ng-container
      *ngIf="
        chapterNotes && chapterNotes.verseNotes && tempSettingsService.editMode
      "
    >
      <app-note
        class="app-note"
        *ngFor="let note of chapterNotes.verseNotes"
        [verseNotes]="note"
      ></app-note>
      <div
        class="white-space"
        [ngStyle]="{ height: getWhiteSpaceHeight() }"
      ></div>
    </ng-container>
    <ng-container>
      <app-note
        class="app-note"
        *ngFor="let offsetGroup of this.chapterService.offsetGroups"
        [offsetGroups]="offsetGroup.offsetGroups"
        [verseNotes]="offsetGroup.verseNote"
      ></app-note>
      <div
        class="white-space"
        [ngStyle]="{ height: getWhiteSpaceHeight() }"
      ></div>
    </ng-container>
    <div class="notes-bottom"></div>
  </div>
</chapter-parent>
