<div class="landing-page">
  <header style="text-align: center">
    <h1 id="title1">The <br /><span class="dominant">Holy Bible</span></h1>
    <p class="subtitle" id="subtitle1">
      Containing the <br /><span class="dominant">Old and New Testaments</span>
    </p>
    <h1 id="title2">The <br /><span class="dominant">Book of Mormon</span></h1>
    <p class="subtitle" id="subtitle2">
      Another Testament <br />of Jesus Christ
    </p>
    <h1 id="title3">
      The <br /><span class="dominant" style="font-size: 29px;"
        >Doctrine and Covenants</span
      >
    </h1>
    <p class="subtitle" id="subtitle3">
      of The Chruch of Jesus Christ of Latter-day Saints
    </p>
    <h1 id="title4">
      The <br /><span class="dominant">Pearl of Great Price</span>
    </h1>
  </header>
  <div></div>
</div>
