<table class="table" *ngIf="saveStateService.data.noteCategories">
  <tr
    *ngFor="
      let visibilitySetting of saveStateService.data.noteCategories
        .visibilitySettings
    "
  >
    <td
      *ngIf="visibilitySetting[0].name.trim() !== ''"
      [ngClass]="{
        'table-primary': this.saveStateService.data[
          visibilitySetting[0].setting
        ]
      }"
      (click)="setNoteCategorySettings(visibilitySetting[0])"
    >
      {{ visibilitySetting[0].name }}
    </td>
    <td
      *ngIf="visibilitySetting[1].name.trim() !== ''"
      [ngClass]="{
        'table-primary': this.saveStateService.data[
          visibilitySetting[1].setting
        ]
      }"
      (click)="setNoteCategorySettings(visibilitySetting[1])"
    >
      {{ visibilitySetting[1].name }}
    </td>
  </tr>
</table>
